
.ck.ck-content span.long {
  position: relative;
  display: inline-block;
  color: #2b42d0;
  background: #e0e0e0;
  white-space: nowrap;
}
.ck.ck-content span.long + span.long {
  margin-left: 5px;
}


